<div class="container col-12 col-lg-4 mt-4">
    <h3 class="title"> Formulario de Calificación </h3>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre (*)</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="calificacionNueva.nombre" placeholder="Ezequiel Portillo">
      </div>
      <div class="form-group">
        <label for="correo">Correo (*)</label>
        <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="calificacionNueva.correo" placeholder="zetasys777@example.com">
      </div>


      <div class="form-group">
        <label>Calificación (*)</label>      
        <div class="d-flex rating-list align-items-center">       
            <div class="star w-30 rating-star">
                <ngx-star-rating 
                id="calificacion" name="calificacion" [(ngModel)]="calificacionNueva.calificacion">
                </ngx-star-rating>
            </div>
        </div>
       </div>



      <div class="form-group">
        <label for="obs">Observaciones</label>
        <textarea class="form-control" id="obs" name="obs" [(ngModel)]="calificacionNueva.obs" rows="3"></textarea>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-success margenbutton" (click)="agregarCalificacion()">Guardar</button>
        <button type="button" class="btn btn-danger margenbutton">Cancelar</button>
        <button type="button" class="btn btn-secondary margenbutton">Salir</button>
      </div>
    </form>


  
  </div>
