<app-inicio></app-inicio>

<div class="container col-12 col-lg-4 mt-4">
  <h6 class="bg.info">Para ver el listado de calificaciones debe registrarse he iniciar sesion</h6>
    <h3 class="title"> Formulario de Calificación </h3>
    <form  (ngSubmit)="agregarCalificacion()" #f="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre (*)</label>
        <input type="text" class="form-control" id="nombre" name="nombre"  
        [(ngModel)]="calificacionNueva.nombre" required>
      </div>
        
      <div class="form-group">
        <label for="correo">Correo (*)</label>
        <input type="email" class="form-control" id="correo" name="correo" 
        [(ngModel)]="calificacionNueva.correo" placeholder="zetasys777@example.com"
        required minlength="4">
      </div>


      <div class="form-group">
        <label>Calificación (*)</label>      
        <div class="d-flex rating-list align-items-center">       
            <div class="star w-30 rating-star">
                <ngx-star-rating 
                id="calificacion" name="calificacion" [(ngModel)]="calificacionNueva.calificacion"
                required>
                </ngx-star-rating>
            </div>
        </div>
       </div>

      <div class="form-group">
        <label for="obs">Observaciones</label>
        <textarea class="form-control" id="obs" name="obs" [(ngModel)]="calificacionNueva.obs" rows="1"></textarea>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-success margenbutton">Guardar</button>
      </div>
    </form>


  
  </div>
