/* You can add global styles to this file, and also import other style files */

.title {
    background-color: #7f0000;
    border-radius:0.5vw;
    /*font-size: 1.8vw;*/
    font-style: inherit;
    color: white;
    text-align: center;
    /*border-style: double;*/
    padding-left: 5px;
    padding-right: 5px;
}

.margenbutton {
    margin: 10px;
}


.bg-box1 {
    background-color: #7f0000;
    color: white;
}



